[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = true

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0078: Use pattern matching
csharp_style_prefer_pattern_matching = false
