[Desktop Entry]
Name=Package Resolved
Comment=Collect all the packages.
Exec=godot --main-pack package-resolved.pck
Icon=icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=landscape
